<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Molex</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!--<link rel="stylesheet" href="one.css">-->

    <style>
        body         { padding-top:10px; }
    </style>
</head>
<body>
<div class="container">
    <div>
        <img src="/public/images/molex.jpg" alt="logo" />
    </div>
    <div >


        <div class="text-center">

            <h2>Molex</h2>
            <a href="/" class="btn btn-default">Light OFF </a>
        </div>
    </div>


</div>
</body>
</html>